[submodule "src/IHQS/WysiwygBundle"]
	path = src/IHQS/WysiwygBundle
	url = git@github.com:ihqs/WysiwygBundle.git
[submodule "vendor/doctrine-datafixtures"]
	path = vendor/doctrine-datafixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "vendor/bundles/ForumBundle"]
	path = vendor/bundles/ForumBundle
	url = https://github.com/Herzult/ForumBundle.git
[submodule "vendor/bundles/Bundle/ForumBundle"]
	path = vendor/bundles/Bundle/ForumBundle
	url = git@github.com:AlepH-FR/ForumBundle
[submodule "vendor/bundles/Stof/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/DoctrineExtensionsBundle
	url = https://github.com/stof/DoctrineExtensionsBundle.git
[submodule "vendor/bundles/Stof/Bundle/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/Bundle/DoctrineExtensionsBundle
	url = https://github.com/stof/DoctrineExtensionsBundle.git
[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/zend-paginator-adapter"]
	path = vendor/zend-paginator-adapter
	url = https://github.com/ornicar/ZendPaginatorAdapter/
[submodule "vendor/doctrine-extensions"]
	path = vendor/doctrine-extensions
	url = https://github.com/beberlei/DoctrineExtensions
[submodule "vendor/doctrine-extensions-sluggable"]
	path = vendor/doctrine-extensions-sluggable
	url = git://github.com/ornicar/Doctrine2-Sluggable-Functional-Behavior.git
[submodule "vendor/bundles/WhiteOctober/AdminBundle"]
	path = vendor/bundles/WhiteOctober/AdminBundle
	url = git://github.com/whiteoctober/WhiteOctoberAdminBundle.git
[submodule "vendor/bundles/WhiteOctober/PagerfantaBundle"]
	path = vendor/bundles/WhiteOctober/PagerfantaBundle
	url = git://github.com/whiteoctober/WhiteOctoberPagerfantaBundle.git
[submodule "vendor/pagerfanta"]
	path = vendor/pagerfanta
	url = git://github.com/whiteoctober/Pagerfanta.git
[submodule "vendor/bundles/Sensio/Bundle/DistributionBundle"]
	path = vendor/bundles/Sensio/Bundle/DistributionBundle
	url = http://github.com/sensio/SensioDistributionBundle.git
