[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/doctrine/orm"]
	path = src/vendor/doctrine/orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/doctrine/dbal"]
	path = src/vendor/doctrine/dbal
	url = git://github.com/doctrine/dbal.git
[submodule "src/vendor/doctrine/common"]
	path = src/vendor/doctrine/common
	url = git://github.com/doctrine/common.git
[submodule "src/vendor/twig"]
	path = src/vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "src/vendor/swiftmailer"]
	path = src/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "src/vendor/doctrine/data-fixtures"]
	path = src/vendor/doctrine/data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "src/Bundle/DoctrineUserBundle"]
	path = src/Bundle/DoctrineUserBundle
	url = git://github.com/knplabs/DoctrineUserBundle.git
[submodule "src/vendor/ZendPaginatorAdapter"]
	path = src/vendor/ZendPaginatorAdapter
	url = git://github.com/ornicar/ZendPaginatorAdapter.git
[submodule "src/vendor/DoctrineExtensions"]
	path = src/vendor/DoctrineExtensions
	url = git://github.com/beberlei/DoctrineExtensions.git
[submodule "src/Bundle/MenuBundle"]
	path = src/Bundle/MenuBundle
	url = git://github.com/knplabs/MenuBundle.git
