body
{
    font-family: Arial, Helvetica;
    font-size: 12px;
    height: 100%;
}

.spacer
{
    clear: both;
}

a, strong
{
    color: #395674;
    text-decoration: none;
}
strong
{
    font-weight: bold;
}
a.disabled
{
    font-weight: normal;
}
a:hover
{
    color: #294769;
    text-shadow: 0 0 5px #888;
    -moz-text-shadow: 0 0 5px #888;
    -webkit-text-shadow: 0 0 10px #888;
}
a.no-color
{
    color: white;
}

h1,
fieldset legend
{
    font-family: Georgia;
    font-weight: bold;
    color: #395674;
    font-size: 18px;
}
fieldset legend
{
    margin-bottom: 10px;
}

h2
{
    margin-top: 15px;
}

h2,h3
{
    font-family: Georgia;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    font-size: 14px;
}

img.flag
{
    margin-left : 3px;
    margin-right: 3px;
}

.win
{
    color: green;
}
.loss
{
    color: red;
}
.little
{
    font-size: 9px;
}

hr
{
    background-color: #EEE;
    height: 1px;
    margin-bottom: 1px;
}