#header
{
    background: url(../images/banner_fond.png) no-repeat;
    background-size: length;
    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    z-index:50;
    with: 900px;
}

#header h1
{
    float: left;
    height: 100px;
    width: 150px;
    margin-left: 20px;
    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    background: url(../images/logo.png) 0 0 no-repeat;
}
#header h1 span
{
    display: none;
}
#header .lang
{
    float: right;
    padding: 10px 20px 0 0;
}

#header .lang li
{
    display: inline-block;
}
#header .lang li a
{
    width: 16px;
    height: 11px;
    display: inline-block;
}
#header .lang li a span
{
    display: none;
}
#header .lang li a.fr
{
    background: url(../images/flags/FR.gif);
}
#header .lang li a.en
{
    background: url(../images/flags/UK.gif);
}

#header .block-login
{
    width: 150px;
    height: 90px;

    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;

    position: relative;
    top: 31px;
    left: 730px;
}
#header form fieldset,
#header .block-login div.log
{
	position: absolute;
	margin: 10px;
        color: white;
}

#header .block-login div.log div.userdata
{
    float: left;
    margin-left: 5px;
}

#header .block-login div.log span.username
{
    font-weight: bold;
}

#header .block-login img.avatar
{
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid #888;
}

#header form fieldset legend,
#header form label
{
    display: none;
}
#header form p
{
    margin: 6px 0;
}
#header form p input
{
    width: 124px;
    padding: 2px;
    height: 14px;
}
#header form p input.submit
{
    background: #395674;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    width: 130px;
    height: 18px;
    padding: 0;
}

#header ul.menu
{
    z-index: 50;
    float: left;
    clear: both;
    background: white;

    width: 890px;
    height: 40px;

    box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;

    padding: 0 10px;
    margin-left: -5px;
}
#header ul.menu li
{
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
}
#header ul.menu li.first
{
    padding-left: 10px;
}
#header ul.menu last
{
    padding-right: 10px;
}

#header ul.menu li.stream-live
{
    background: url("/bundles/ihqsnuitblanche/images/ico/result_win.gif") no-repeat scroll 8px 15px transparent;
}

#header ul.menu li.stream-off
{
    background: url("/bundles/ihqsnuitblanche/images/ico/result_loss.gif") no-repeat scroll 8px 15px transparent;
}

#header div.user-menu
{
    position: fixed;
    right: 0;
    top: 0;

    margin: 10px;
    padding: 10px;
    border: 1px dotted #395674;

    background: white;
    opacity: 0.7;
    -moz-opacity: 0.7;
}

#header div.user-menu ul li
{
    display: list-item;
    list-style: circle inside none;
}