{% extends 'IHQSNuitBlancheBundle::layout_standard.html.twig' %}

{% block title %}{{ "War list" | trans }}{% endblock %}

{% block content %}
    <h2>{{ "Replays" | trans }}</h2>
    <div class="sub-section replays">
        <table>
            <caption>{{ "Replays" | trans }}</caption>
            <thead></thead>
            <tfoot></tfoot>
            <tbody>
                {% for replay in replays %}
                {% include "IHQSNuitBlancheBundle:Replay:_row.html.twig" with { "replay" : replay } %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "IHQSNuitBlancheBundle:Layout:back_on_top.html.twig" %}
{% endblock %}