<!--
<div id="beta" style="position: fixed; bottom: 0; margin: 10px; padding: 10px; border: 1px dotted #395674; background: white; opacity: 0.7; -moz-opacity: 0.7;">
    <p>This is a <a name="beta">beta version</a> of the website</p>
    <p>Please report bugs by mailing <strong>lysimaque (at) hotmail (dot) com</strong></p>
    <p style="margin-top: 5px">for version <strong>1.0</strong> :</p>
    <ul>
        <li style="display: list-item; list-style: disc inside none;">adding news / comments</li>
        <li style="display: list-item; list-style: disc inside none;">adding replays</li>
        <li style="display: list-item; list-style: disc inside none;">replays charts</li>
        <li style="display: list-item; list-style: disc inside none;">fr_FR, en_US translations</li>
    </ul>
    <p style="margin-top: 5px">for version <strong>1.1</strong> :</p>
    <ul>
        <li style="display: list-item; list-style: disc inside none;">back office</li>
    </ul>
    <p style="margin-top: 5px">for version <strong>1.2</strong> :</p>
    <ul>
        <li style="display: list-item; list-style: disc inside none;">filters by team on list pages</li>
        <li style="display: list-item; list-style: disc inside none;">filters on the member page (by stats, name, ...)</li>
        <li style="display: list-item; list-style: disc inside none;">filters replays by version</li>
        <li style="display: list-item; list-style: disc inside none;">stream pages</li>
        <li style="display: list-item; list-style: disc inside none;">forum</li>
    </ul>
</div>
-->