{% extends 'IHQSNuitBlancheBundle::layout_standard.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}
    <a href="http://www.intkeys.com"><img src="intkeys-banner-520x100.jpg" /></a>
    <br />
    <br />

    {% render "IHQSNuitBlancheBundle:War:_next" %}

    <h1>{{ "Latest news" | trans }}</h1>
    {% include "IHQSNuitBlancheBundle:News:_teasers.html.twig" with { 'news': news } %}
    <br/>
{% endblock %}
