{% extends 'IHQSNuitBlancheBundle::layout_standard.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% include "IHQSNuitBlancheBundle:News:details.html.twig" with { 'news': news } %}
    <div id="comment-form">
        <p class="login">
            <a href="{{ url('news_show', { "news_id": news.id }) }}">
                {{ "Read more and view comments" | trans }}
            </a>
        </p>
    </div>
    <br/>
{% endblock %}
