@import "0-reset.css";
@import "1-global";
@import "1-skeleton.css";
@import "2-header.css";
@import "3-content.css";
@import "4-left.css";
@import "4-right.css";

/* -------------------------------------------------------------------
// markItUp!
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(../images/wysiwyg/h1.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(../images/wysiwyg/paragraph.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(../images/wysiwyg/bold.png);
}
.markItUp .markItUpButton4 a {
	background-image:url(../images/wysiwyg/italic.png);
}
.markItUp .markItUpButton5 a {
	background-image:url(../images/wysiwyg/stroke.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(../images/wysiwyg/picture.png);
}
.markItUp .markItUpButton7 a {
	background-image:url(../images/wysiwyg/link.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(../images/wysiwyg/date.png);
}

.markItUp .clean a {
	background-image:url(../images/wysiwyg/clean.png);
}
.markItUp .preview a {
	background-image:url(../images/wysiwyg/preview.png);
}

